<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<add name="OnlineShopDBConnectionString" connectionString="Data Source=roa\sqlexpress;Initial Catalog=OnlineShopDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/></assemblies></compilation>
		<httpRuntime maxRequestLength="4096"/>
		<authentication mode="Forms">
			<forms name=".AccountSystem" loginUrl="Default00.aspx" defaultUrl="Default00.aspx" protection="All" path="/" timeout="2000" cookieless="AutoDetect">
			</forms>
		</authentication>
		<!--the configuration of the login method-->
		<authorization>
			<deny users="?"/>
		</authorization>
		<!--denied non users from all the pages-->
	</system.web>
	<location path="css">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="images">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="js">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<!--allowed them to acces the style.css-->
	<location path="Default00.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="~/Products_Photos/TemplateFreeDefault.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
	<location path="Create_Comp_Step1.aspx">
		<system.web>
			<authorization>
				<allow users="?"/>
			</authorization>
		</system.web>
	</location>
</configuration>
